body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.settings-btn {
    background-color: #f4b400; /* Cor semelhante ao botão de configurações do Google */
    color: rgb(3, 3, 3);
    padding: 8px 16px;
    border: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px; /* Aumentando o preenchimento */
}

img {
    max-height: 150px; /* Ajuste conforme necessário */
}

input[type="text"] {
    padding: 12px; /* Aumentando o preenchimento */
}

button {
    background-color: #4285f4; /* Cor semelhante ao botão de pesquisa do Google */
    color: white;
    padding: 12px 20px; /* Aumentando o preenchimento */
    border: none;
}

.settings-panel {
    display: none; /* Inicialmente oculto */
    border: 1px solid #ccc;
    padding: 10px;
}
